In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
metro_all = pd.read_csv("/Users/kimbumsu/대학교/2학년2학기/opensw/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv", encoding = 'cp949')
metro_all.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202310,1호선,동대문,688,23,11493,2221,9618,6755,14951,...,9061,555,2415,1,221,0,0,0,0,20231103
1,202310,1호선,동묘앞,208,1,3065,1120,3652,4528,7542,...,4288,85,1680,1,318,0,0,0,0,20231103
2,202310,1호선,서울역,700,16,8826,9093,13369,60044,42194,...,14003,2333,2475,2,184,0,0,0,0,20231103
3,202310,1호선,시청,60,1,2408,5020,4325,26689,8093,...,4416,323,855,0,12,0,0,0,0,20231103
4,202310,1호선,신설동,388,18,9245,2315,9988,8178,21304,...,9543,289,2263,0,0,0,0,0,0,20231103

In [3]:
#최근3년만 추출
metro_recent = metro_all[(metro_all['사용월']>=202001)|(metro_all['사용월']<=202310)]
metro_recent

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202310,1호선,동대문,688,23,11493,2221,9618,6755,14951,...,9061,555,2415,1,221,0,0,0,0,20231103
1,202310,1호선,동묘앞,208,1,3065,1120,3652,4528,7542,...,4288,85,1680,1,318,0,0,0,0,20231103
2,202310,1호선,서울역,700,16,8826,9093,13369,60044,42194,...,14003,2333,2475,2,184,0,0,0,0,20231103
3,202310,1호선,시청,60,1,2408,5020,4325,26689,8093,...,4416,323,855,0,12,0,0,0,0,20231103
4,202310,1호선,신설동,388,18,9245,2315,9988,8178,21304,...,9543,289,2263,0,0,0,0,0,0,20231103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62482,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,633,3,222,0,0,0,0,0,0,20151223
62483,201501,중앙선,원덕,1,0,292,4,415,46,537,...,383,3,157,0,0,0,0,0,0,20151223
62484,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,6501,86,1617,0,0,0,0,0,0,20151223
62485,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,336,8,85,0,0,0,0,0,0,20151223
62486,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,35702,767,9314,0,0,0,0,0,0,20151223

In [4]:
def process_line(line, metro_recent):
    # 해당 호선 데이터 추출
    metro = metro_recent.groupby(['호선명','지하철역']).mean().reset_index()
    metro_line = metro[metro['호선명'] == line]
    
    # 승차 인원 컬럼 추출
    metro_get_on_devide = pd.DataFrame()  # 변수 초기화 추가
    metro_get_on_devide['지하철역'] = metro_line['지하철역']
    for i in range(int((len(metro_recent.columns)-3)/2)):
        metro_get_on_devide[metro_line.columns[3+2*i]] = metro_line[metro_line.columns[3+2*i]]
    metro_get_on_devide = metro_get_on_devide.set_index('지하철역')

    # 하차 인원 컬럼 추출
    metro_get_off = pd.DataFrame()
    metro_get_off['지하철역'] = metro_line['지하철역']
    for i in range(int((len(metro_recent.columns)-3)/2)):
        metro_get_off[metro_line.columns[4+2*i]] = metro_line[metro_line.columns[4+2*i]]
    metro_get_off = metro_get_off.set_index('지하철역')

    # 역 별 평균 승하차 인원 계산
    df = pd.DataFrame(index=metro_line['지하철역'])
    df['평균 승차 인원 수'] = metro_get_on_devide.mean(axis=1).astype('int64')
    df['평균 하차 인원 수'] = metro_get_off.mean(axis=1).astype(int)
    
    # 추가: 평균 승차 인원 수와 평균 하차 인원 수의 합계 열 추가
    df['평균 승하차 합계'] = df['평균 승차 인원 수'] + df['평균 하차 인원 수']
    
    top3_on = df.sort_values(by='평균 승차 인원 수', ascending=False).head(3)
    
    return top3_on

# 1호선부터 9호선까지 처리
result_frames = []
for line_number in range(1, 10):
    line_name = f"{line_number}호선"
    result = process_line(line_name, metro_recent)
    result_frames.append(result)

# 각 노선별 상위 3개의 역을 담은 데이터프레임을 생성
top3_per_line = pd.concat(result_frames, keys=[f"{i}호선" for i in range(1, 10)])

# 결과 확인
top3_per_line
    
# 이렇게 노션별 상위3개의 역을 알았다.

                 평균 승차 인원 수  평균 하차 인원 수  평균 승하차 합계
    지하철역
1호선 서울역               64220       59996     124216
    종각                49115       46998      96113
    종로3가              38022       35265      73287
2호선 강남               111043      111393     222436
    잠실               105366       97172     202538
    잠실(송파구청)          94955       91495     186450
3호선 고속터미널             65312       64136     129448
    양재                52540       55986     108526
    연신내               48135       45452      93587
4호선 수유(강북구청)          47218       46438      93656
    혜화                46833       48282      95115
    명동                39357       42381      81738
5호선 광화문               45001       47109      92110
    광화문(세종문화회관)       38904       40566      79470
    까치산               35499       33722      69221
6호선 공덕                21286       20738      42024
    응암                21249       20797      42046
    이태원               17506       19509      37015
7호선 가산디지털단지           47919       47742      95661
    광명사거리             30153       29426      59579
    철산                27644       28096      55740
8호선 천호                24467       26730      51197
    암사                21845       19329      41174
    천호(풍납토성)          19988       22724      42712
9호선 신논현               36408       36473      72881
    노량진               33346       34078      67424
    여의도               25833       24841      50674

In [14]:

# 승하차 합계 기준으로 각 역의 합계 계산
station_totals = top3_per_line.groupby(level=0).sum()

# 결과 출력
station_totals


# 상위 2개 호선 찾기
top2_lines = station_totals.nlargest(2, '평균 승하차 합계')

# 결과 출력
top2_lines


#2호선 3호선이 젤 많다.

     평균 승차 인원 수  평균 하차 인원 수  평균 승하차 합계
2호선      311364      300060     611424
3호선      165987      165574     331561

In [15]:

#metro_recent에서 승차 데이터만 추출하여 새로운 데이터프레임 생성
metro_get_on_devide = metro_recent.filter(like='승차')

metro_get_on_devide['호선명'] = metro_recent['호선명']
metro_get_on_devide['지하철역'] = metro_recent['지하철역']

# 노선 및 역 정보를 기준으로 그룹화하여 각 역에 대한 승차 데이터의 합을 계산
metro_get_on_devide = metro_get_on_devide.groupby(['호선명', '지하철역']).sum()

/var/folders/n_/kfz2pfg97vq11r0r2h44tx440000gn/T/ipykernel_31907/1729267637.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_get_on_devide['호선명'] = metro_recent['호선명']
/var/folders/n_/kfz2pfg97vq11r0r2h44tx440000gn/T/ipykernel_31907/1729267637.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_get_on_devide['지하철역'] = metro_recent['지하철역']

In [16]:

#2호선
specific_stations_data = metro_get_on_devide.loc[('2호선', ['강남','잠실','잠실(송파구청)']), :]


specific_stations_data

specific_stations_data.loc['2호선'].style.background_gradient()

In [17]:


#3호선
specific_stations_data = metro_get_on_devide.loc[('3호선', ['고속터미널','양재','연신내']), :]


specific_stations_data

specific_stations_data.loc['3호선'].style.background_gradient()

In [12]:
# '승차' 데이터만 추출
metro_get_on_devide = metro_recent.filter(like='승차')

# '호선명'과 '지하철역' 열 추가
metro_get_on_devide['호선명'] = metro_recent['호선명']
metro_get_on_devide['지하철역'] = metro_recent['지하철역']

# Print intermediate results for debugging
print("After filtering '승차' data:")
print(metro_get_on_devide.head())

# '승차' 데이터 열을 숫자로 변환
metro_get_on_devide.iloc[:, 2:] = metro_get_on_devide.iloc[:, 2:].apply(pd.to_numeric, errors='coerce')

# Print intermediate results for debugging
print("After converting to numeric:")
print(metro_get_on_devide.head())

# 특정 열 합치기
metro_get_on_devide['출근시간6-9'] = metro_get_on_devide.iloc[:, 6:10].sum(axis=1)
metro_get_on_devide['점심시간11-14'] = metro_get_on_devide.iloc[:, 11:15].sum(axis=1)
metro_get_on_devide['퇴근시간17-20'] = metro_get_on_devide.iloc[:, 17:21].sum(axis=1)
metro_get_on_devide['야간시간22-24'] = metro_get_on_devide.iloc[:, 22:25].sum(axis=1)

# Print intermediate results for debugging
print("After summing specific columns:")
print(metro_get_on_devide.head())

# 불필요한 열 제거
columns_to_keep = ['호선명', '지하철역', '출근시간6-9', '점심시간11-14', '퇴근시간17-20', '야간시간22-24']
metro_get_on_devide = metro_get_on_devide[columns_to_keep]

# '호선명'과 '지하철역'을 기준으로 그룹화하여 각 역에 대한 승차 데이터의 합을 계산
metro_get_on_devide_grouped = metro_get_on_devide.groupby(['호선명', '지하철역']).sum().reset_index()

# 특정 역 정보만 선택
specific_stations_data = metro_get_on_devide_grouped.loc[
    (metro_get_on_devide_grouped['호선명'] == '1호선') & 
    (metro_get_on_devide_grouped['지하철역'].isin(['서울역', '종각', '종로3가'])), :
]

specific_stations_data

After filtering '승차' data:
   04시-05시 승차인원  05시-06시 승차인원  06시-07시 승차인원  07시-08시 승차인원  08시-09시 승차인원  \
0           688         11493          9618         14951         20657
1           208          3065          3652          7542         12370
2           700          8826         13369         42194         75501
3            60          2408          4325          8093         11102
4           388          9245          9988         21304         31140

   09시-10시 승차인원  10시-11시 승차인원  11시-12시 승차인원  12시-13시 승차인원  13시-14시 승차인원  ...  \
0         19909         18030         20354         24289         27555  ...
1         11293         13116         18559         25794         34226  ...
2         70759         67566         86329         96010         94744  ...
3         14674         17236         22743         25560         31914  ...
4         22327         19391         21086         23210         25190  ...

   20시-21시 승차인원  21시-22시 승차인원  22시-23시 승차인원  23시-24시 승차인원  00시-01시 승차인원  \
0         15062         13799         10430          4866           555
1          5844          4793          3530          1141            85
2         89108         87580         59608         29305          2333
3         62691         53963         32319         10655           323
4         13794         12004          8113          3693           289

   01시-02시 승차인원  02시-03시 승차인원  03시-04시 승차인원  호선명  지하철역
0             1             0             0  1호선   동대문
1             1             0             0  1호선   동묘앞
2             2             0             0  1호선   서울역
3             0             0             0  1호선    시청
4             0             0             0  1호선   신설동

[5 rows x 26 columns]
After converting to numeric:
   04시-05시 승차인원  05시-06시 승차인원  06시-07시 승차인원  07시-08시 승차인원  08시-09시 승차인원  \
0           688         11493          9618         14951         20657
1           208          3065          3652          7542         12370
2           700          8826         13369         42194         75501
3            60          2408          4325          8093         11102
4           388          9245          9988         21304         31140

   09시-10시 승차인원  10시-11시 승차인원  11시-12시 승차인원  12시-13시 승차인원  13시-14시 승차인원  ...  \
0         19909         18030         20354         24289         27555  ...
1         11293         13116         18559         25794         34226  ...
2         70759         67566         86329         96010         94744  ...
3         14674         17236         22743         25560         31914  ...
4         22327         19391         21086         23210         25190  ...

   20시-21시 승차인원  21시-22시 승차인원  22시-23시 승차인원  23시-24시 승차인원  00시-01시 승차인원  \
0         15062         13799         10430          4866           555
1          5844          4793          3530          1141            85
2         89108         87580         59608         29305          2333
3         62691         53963         32319         10655           323
4         13794         12004          8113          3693           289

   01시-02시 승차인원  02시-03시 승차인원  03시-04시 승차인원  호선명  지하철역
0             1             0             0  NaN   NaN
1             1             0             0  NaN   NaN
2             2             0             0  NaN   NaN
3             0             0             0  NaN   NaN
4             0             0             0  NaN   NaN

[5 rows x 26 columns]
After summing specific columns:
   04시-05시 승차인원  05시-06시 승차인원  06시-07시 승차인원  07시-08시 승차인원  08시-09시 승차인원  \
0           688         11493          9618         14951         20657
1           208          3065          3652          7542         12370
2           700          8826         13369         42194         75501
3            60          2408          4325          8093         11102
4           388          9245          9988         21304         31140

   09시-10시 승차인원  10시-11시 승차인원  11시-12시 승차인원  12시-13시 승차인원  13시-14시 승차인원  ...  \
0         19909         18030         20354         24289         27555  ...
1         11293         13116         18559         25794         34226  ...
2         70759         67566         86329         96010         94744  ...
3         14674         17236         22743         25560         31914  ...
4         22327         19391         21086         23210         25190  ...

   00시-01시 승차인원  01시-02시 승차인원  02시-03시 승차인원  03시-04시 승차인원  호선명  지하철역  출근시간6-9  \
0           555             1             0             0  NaN   NaN    90228
1            85             1             0             0  NaN   NaN    91695
2          2333             2             0             0  NaN   NaN   344649
3           323             0             0             0  NaN   NaN    97453
4           289             0             0             0  NaN   NaN    88877

   점심시간11-14  퇴근시간17-20  야간시간22-24
0     114880      29650          0
1     144785       9549          0
2     621348     178826          0
3     381659      97260          0
4     145559      24099          0

[5 rows x 30 columns]
Empty DataFrame
Columns: [호선명, 지하철역, 출근시간6-9, 점심시간11-14, 퇴근시간17-20, 야간시간22-24]
Index: []

/var/folders/n_/kfz2pfg97vq11r0r2h44tx440000gn/T/ipykernel_31907/2812505319.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_get_on_devide['호선명'] = metro_recent['호선명']
/var/folders/n_/kfz2pfg97vq11r0r2h44tx440000gn/T/ipykernel_31907/2812505319.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_get_on_devide['지하철역'] = metro_recent['지하철역']
/var/folders/n_/kfz2pfg97vq11r0r2h44tx440000gn/T/ipykernel_31907/2812505319.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_get_on_devide['출근시간6-9'] = metro_get_on_devide.iloc[:, 6:10].sum(axis=1)
/var/folders/n_/kfz2pfg97vq11r0r2h44tx440000gn/T/ipykernel_31907/2812505319.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_get_on_devide['점심시간11-14'] = metro_get_on_devide.iloc[:, 11:15].sum(axis=1)
/var/folders/n_/kfz2pfg97vq11r0r2h44tx440000gn/T/ipykernel_31907/2812505319.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_get_on_devide['퇴근시간17-20'] = metro_get_on_devide.iloc[:, 17:21].sum(axis=1)
/var/folders/n_/kfz2pfg97vq11r0r2h44tx440000gn/T/ipykernel_31907/2812505319.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_get_on_devide['야간시간22-24'] = metro_get_on_devide.iloc[:, 22:25].sum(axis=1)